body{
    background-color: #3a6574;
}
#header{
    text-align: center;
    color: #d7ed0c;
}
#form{
    width: 40%;
    margin: auto;
}
input[type="text"],input[type="email"],input[type="number"]{
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 8px;
    border: 2px solid #dadfe2;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus{
    border: 4px solid #b4b4be;
}

input[type="radio"]:checked + label{
    color: #ff0000;
    text-transform: uppercase;
}

input[type="checkbox"]:enabled + label{
    color: #ffff00;
    font-style: italic;
}

input[type="checkbox"]:checked + label{
    color: #ff0000;
    font-style: normal;
}

input[type="checkbox"]:disabled + label{
    color: #989898;
}

ul li:first-child{
    background-color:#ff0000;
}

ul li:last-child{
    background-color:#ffff00;
}

ul li:nth-child(3){
    background-color:#00ff00;
}

#button{
    text-align: center;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ff0000;
}

#button:hover{
    background-color: #bcc62c;
}

.thank_u{
    text-align: center;
}

p:empty{
    background-color: #ff0000;
    height: 20px;
}