*{
    margin: 0px;
    padding: 0px;
}

h1{
    /* color: red; keyword/text */
    /* color: #ff0000;0 to 9 -> a to f hex code */
    /* color: #f00; short hex code */
    color: rgb(255, 0, 0); /* rgb(red, green, blue) -> 0 to 255 */
    text-align: center;
    font-size: 40px;
}

.borderone{
    /* border: 5px dotted #e8ec07; */
    border-top: 5px solid #e8ec07;
}

.bordertwo{
    /* border-style: 5px solid #27177a; */
    /* all four side */
    /* border-style: solid dotted; */
    /* T&B L&R */
    /* border-style: solid dotted double; */
    /* T/ L&R / B */
    border-style: solid dotted double dashed;
    /* T/ R / B / L */
}

.borderthree{
    border-width: 20px 15px 10px 5px;
    border-style: solid;
}

/* Margin */

.marginone{
    margin: 50px 10px;
    border: 2px solid #e8ec07;
}

/* Padding */

.paddindone{
    padding: 50px 10px;
    border: 2px solid #690a0a;
}

.inline{
    border: 2px solid #ec0707;
    display: inline-block;
    width: 200px;
}

.block{
    border: 2px solid #ec0707;
    width: 200px;
    display: inline-block;
}

/* Float */
.float_left img{
    width: 40%;
    float: left;
    margin-right: 10px;
}

.clear{
    clear: both;
}


.float_right img{
    width: 40%;
    float: right;
    margin-left: 10px
}

.clear{
    clear: both;
}

/* Grid */
.gridone div,.gridtwo div,.gridthree div,.gridfour div{
    padding: 20px;
    text-align: center;
    color: #050607;
}

.gridone,.gridtwo,.gridthree,.gridfour{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridtwo{
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    /* grid-gap: 5px 10px; */
}

.columnadd{
    grid-column-start: 2;
    grid-column-end: 4;
}

.rowadd{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
}

/* Position */

.relative_parent{
    border: 1px solid red;
    height: 500px;
}

.relative{
    border: 1px solid green;
    height: 200px;
    width: 400px;
    position: relative;
    top: 100px;
    left: 200px;
}

.absolute_parent{
    border: 1px solid black;
    height: 500px;
    position: relative;
}

.absolute{
    border: 1px solid orange;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 100px;
    left: 50px;
}

.fixed{
    position: fixed;
    top: 100px;
    right: 100px;
}

/* Online Font */
.online_font{
    font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* Offline Font */
@font-face {
    font-family: a;
    src: url(../Pacifico/Pacifico-Regular.ttf);
}

.offline_font{
    font-family: a;
}